/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * locally scoped CSS by default.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.cardsSection {
  padding: 4rem 0;
  width: 100%;
}

.sectionTitle {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2rem;
  color: #252525;
}